<div class="row">
  <footer>
    <img src="assets/images/logoopacityzero.png" alt="Sugar Mamas2">
    <br>
    <div class="container">
      Copyright &copy; 2017 Sugar Mamas
    </div>
  </footer>
</div>
