<div class="row">

  <header>
    <div class="logo">
      <a href="/">
			     <img src="assets/images/logoopacityzero.png" alt="Sugar Mamas">
			</a>

    <div class="smIcons">
      <a href="https://twitter.com/sugarmamasapp" target="_blank">
		      <img src="assets/images/twitter64.png" alt="twitter">
		  </a>

      <a href="https://facebook.com/sugarmamasapp" target="_blank">
		      <img src="assets/images/facebook66.png" alt="facebook">
		  </a>
    </div>

    <div class="sloganBox col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h1>"Listen To Your Mama"</h1>
    </div>

    </div>
  </header>

</div>
