<div class="row">
  <header id="masthead">
    <div class="logo col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
      <!--<img src="assets/images/sugarmamaslogo.png" alt="Sugar Mamas">-->
      <a href="index.html">
						<img src="assets/images/logoopacityzero.png" alt="Sugar Mamas">
					</a>
      <div class="row">
        <div class="centerIcons col-xs-12 text-center">
          <nav>
            <a href="https://twitter.com/sugarmamasapp" target="_blank">
				        			<img src="assets/images/twitter64.png" alt="twitter">
				        		</a>
            <a href="https://facebook.com/sugarmamasapp" target="_blank">
				        			<img src="assets/images/facebook66.png" alt="facebook">
				        		</a>
          </nav>

        </div>
      </div>

    </div>
    <div class="smIcons col-xs-4 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-2 text-center">

      <nav>
        <a href="https://twitter.com/sugarmamasapp" target="_blank">
			        			<img src="assets/images/twitter64.png" alt="twitter">
			        		</a>
        <a href="https://facebook.com/sugarmamasapp" target="_blank">
			        			<img src="assets/images/facebook66.png" alt="facebook">
			        		</a>
      </nav>
    </div>
  </header>
</div>
