#resultsBox {
  margin-top: 20px;
}

#saveHeart {
  color: red;
}

#saveFavBtn {
  float: right;
  margin-right: 15px;
}

#modalTitle {
  float: left;
}

.glyphicon.glyphicon-heart {
    font-size: 20px;
}

.divTable {
  background-color: #fff;
}

.divTableFoodItem {
  margin-top: 0px;
}

.divTableServingSize {
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
    margin-bottom: 10px;
    padding-top: 1px;
}

/**************
nutrition facts
***************/
.divTableData {
  display: flex;
  justify-content: center;
  margin:20px;
}


.col2, .col3 {
  padding-left: 35px;
}

.percentMeasure, .gramMeasure, .nutrients {
  border-bottom: solid 1px rgba(0, 0, 0, 0.34);
}

.percentMeasure{
  padding-right: 5px;
}

.caloriesRow,  .macroNutrient {
  font-weight: bold;
}

.subNutrient {
  background-color: rgba(0, 0, 0, 0.1);
}

.col1.subNutrient {
  margin-left: 8px;
}

.col1 {
  text-align: left;
}

 .col2, .col3 {
   text-align: right;
 }

.divTableRow { display: table-row; }
.divTableCell { display: table-cell;}

/************
macro section
*************/

.macroSection {
  display: flex;
  flex-direction: column;
}

#myChart {
  padding-bottom: 15px;
}

.sugarDV {
  margin: 10px;
}

/**************
5:1 fiber ratio
**************/

.fiveToOneContainer {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  border-top: solid 1px rgba(0, 0, 0, 0.34);
}

.fiveToOneText, .fiveToOneAnimation {
  flex: 1;
}

/******************
checkmark and cross
*******************/

#cross, #checkmark {
  width: 175px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/***********************
end checkmark and cross
***********************/

/************
search footer
************/

div.panel-footer {
  display: flex;
}

.search-footer-button {
  flex: 1;
}

#logoutBtn {
  margin-left: 5px;
}

.topOfSearch {
  margin-right: 5px;
}

/******************
begin media queries
******************/

@media (min-width: 768px) {
  .divTableServingSize {
      border-bottom: solid 1px rgba(0, 0, 0, 0.34);
      margin-bottom: 10px;
      padding-top: 1px;
  }

  .tableDataTitle, .tableGraphTitle {
    font-weight: bold;
  }

  .divTableBody {
    display: flex;
    padding-top: 8px;
  }

  .divTableData {
    display: flex;
    flex: 1;
    margin: 5px 0px 0px;
  }

  .percentMeasure {
    border-right: solid 1px rgba(0, 0, 0, 0.34);
  }

  .percentMeasure, .gramMeasure, .nutrients {
    border-bottom: none;
    flex: 1;
  }

  .col1.subNutrient {
    margin-right: -8px;
  }

  .col2 {
    margin-left: 8px;
  }

  .macroSection {
    flex: 1;
  }
}
