*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  overflow-y: scroll;
  background: url(../images/sugarimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

#masthead {
  position: relative;
  z-index: 99;
  margin: 0 0 15px;
  overflow: auto;
  width: 100%;
  /*background: #fff;*/
  /*border-bottom: 2px solid #ccc;*/
  /*opacity: .25;*/
}

nav {
  float: left;
  margin-top: 20px;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  color: #999;
  text-decoration: none;
  line-height: 18px;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

.logo {
  text-align: center;
  padding: 20px;
}

.sloganBox h1 {
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  background-color: rgba(19, 35, 47, 0.9);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 4px;
  font-style: italic;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

footer {
  padding: 15px;
  margin-top: 50px;
  clear: both;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600px;
  text-align: center;
  background: #1ab188;
  opacity: .85;
}

footer img {
  width: 78px;
  height: auto;
  margin-bottom: 5px;
}

#outputBox {
  color: white;
}

.resultsOptions {
  color: white;
  border: 3px;
  border-style: solid;
  border-color: white;
  padding: 1em;
}

#nutritionInfo {
  border: 3px;
  border-style: solid;
  border-color: white;
  padding: 1em;
}

.modal-title {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .smIcons {
    display: none;
  }
}

@media screen and (min-width: 641px) {
  .centerIcons {
    display: none;
  }
}
